@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Lato%3Aital%2Cwght%400%2C400%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-LyfD59kQy9XP: #ffffff;
  --plasmic-token-white: var(--token-LyfD59kQy9XP);
  --token-LubxRt_lSwPy: #504d4d;
  --plasmic-token-heading-red: var(--token-LubxRt_lSwPy);
  --token-E78glSjQcy_l: #ffcf00;
  --plasmic-token-yellow: var(--token-E78glSjQcy_l);
  --token-RvPo-ziztQ8i: #2563eb;
  --plasmic-token-brand-brand: var(--token-RvPo-ziztQ8i);
  --token-yQWa0GId1uid: 0.5rem;
  --plasmic-token-size-8: var(--token-yQWa0GId1uid);
  --token-Rd5vDi4GSkgi: Inter;
  --plasmic-token-sans-serif: var(--token-Rd5vDi4GSkgi);
  --token-P4PC8ORWB-T5: 1rem;
  --plasmic-token-font-md: var(--token-P4PC8ORWB-T5);
  --token-51gP1i5dyLni: 1.25;
  --plasmic-token-line-height-md: var(--token-51gP1i5dyLni);
  --token-VJOFbJoNrMzY: 0.375rem;
  --plasmic-token-size-6: var(--token-VJOFbJoNrMzY);
  --token-vX7brs3GpVFZ: #374151;
  --plasmic-token-neutral-neutral: var(--token-vX7brs3GpVFZ);
  --token-h6QRGXX8ujx4: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-h6QRGXX8ujx4);
  --token-5Mns1QSKWpiT: #6b7280;
  --plasmic-token-muted-muted: var(--token-5Mns1QSKWpiT);
  --token-9WoNI-JoDHqk: 0.25rem;
  --plasmic-token-size-4: var(--token-9WoNI-JoDHqk);
  --token-K8Eq6efp2lhS: 0.75rem;
  --plasmic-token-font-sm: var(--token-K8Eq6efp2lhS);
  --token-iIK0n9mKU276: 1;
  --plasmic-token-line-height-sm: var(--token-iIK0n9mKU276);
  --token-wjuOpPYCB6ok: 1.25rem;
  --plasmic-token-font-lg: var(--token-wjuOpPYCB6ok);
  --token-MEi5JTQURzBc: 1.4;
  --plasmic-token-line-height-lg: var(--token-MEi5JTQURzBc);
  --token-QohDNXW25szM: 0.125rem;
  --plasmic-token-size-2: var(--token-QohDNXW25szM);
  --token-X57SJ2C09tW9: #16a34a;
  --plasmic-token-success-success: var(--token-X57SJ2C09tW9);
  --token-piWO1BnWqOn5: #facc15;
  --plasmic-token-warning-warning: var(--token-piWO1BnWqOn5);
  --token-nwFffy6JFyTa: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-nwFffy6JFyTa);
  --token-llyNUGCIqQkK: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-llyNUGCIqQkK);
  --token-1_yY1y2DYgAu: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-1_yY1y2DYgAu);
  --token-hiOwowy0XsOp: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-hiOwowy0XsOp);
  --token-_57TLcpVQytR: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-_57TLcpVQytR);
  --token-eRIHbHZLUab0: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-eRIHbHZLUab0);
  --token-QXQnw4Gy91m8: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-QXQnw4Gy91m8);
  --token-eaEZEXWxkiuP: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-eaEZEXWxkiuP);
  --token-0padnkujHpdo: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-0padnkujHpdo);
  --token-Env8JQho0x2n: #86efac;
  --plasmic-token-success-success-border: var(--token-Env8JQho0x2n);
  --token-adG-A9wJrtQz: #fde047;
  --plasmic-token-warning-warning-border: var(--token-adG-A9wJrtQz);
  --token-ieNkrz-ntHaE: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-ieNkrz-ntHaE);
  --token-zGbVG-AmOrPW: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-zGbVG-AmOrPW);
  --token-oTdr1f0guLz7: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-oTdr1f0guLz7);
  --token-6JHhzHrgsHyo: #00000033;
  --plasmic-token-interaction-pressed: var(--token-6JHhzHrgsHyo);
  --token-8N6_Uy1valOp: 0.625rem;
  --plasmic-token-size-10: var(--token-8N6_Uy1valOp);
  --token-7b5k_RSoLmD9: 0.75rem;
  --plasmic-token-size-12: var(--token-7b5k_RSoLmD9);
  --token-FLefCsUTH9C7: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-FLefCsUTH9C7);
  --token-fOyZdkV19DsD: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-fOyZdkV19DsD);
  --token-f7d0gdww6FSt: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-f7d0gdww6FSt);
  --token-jgjSowqTjyXR: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-jgjSowqTjyXR);
  --token-OMnexCdX-hoK: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-OMnexCdX-hoK);
  --token-M51EUTIvxQRN: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-M51EUTIvxQRN);
  --token-_jtuZ-8VBIIp: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-_jtuZ-8VBIIp);
  --token-OxyvKL6phtOy: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-OxyvKL6phtOy);
  --token-jecmyMtcKViM: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-jecmyMtcKViM);
  --token-_sT5Nnfa7TEe: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-_sT5Nnfa7TEe);
  --token-scn-iuJ089u5: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-scn-iuJ089u5);
  --token-jfLfHb4l6lXi: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-jfLfHb4l6lXi
  );
  --token-EoVbPcmO9eNZ: #d78100;
  --plasmic-token-card-ggradient: var(--token-EoVbPcmO9eNZ);
  --token-qgTcwNrIxvO3: #ffdb56;
  --plasmic-token-card-gradient-2: var(--token-qgTcwNrIxvO3);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ae8PDQy6SAv5_font-family: "Montserrat", sans-serif;
  --mixin-ae8PDQy6SAv5_font-size: 17px;
  --mixin-ae8PDQy6SAv5_font-weight: 400;
  --mixin-ae8PDQy6SAv5_font-style: normal;
  --mixin-ae8PDQy6SAv5_color: #535353;
  --mixin-ae8PDQy6SAv5_text-align: left;
  --mixin-ae8PDQy6SAv5_text-transform: none;
  --mixin-ae8PDQy6SAv5_line-height: 1.7;
  --mixin-ae8PDQy6SAv5_letter-spacing: normal;
  --mixin-ae8PDQy6SAv5_white-space: pre-wrap;
  --mixin-ae8PDQy6SAv5_user-select: text;
  --mixin-ae8PDQy6SAv5_text-decoration-line: none;
  --mixin-ae8PDQy6SAv5_text-overflow: clip;
  --mixin-aQaNeLJMnwGb_color: #000000;
  --mixin-aQaNeLJMnwGb_font-weight: 400;
  --mixin-aQaNeLJMnwGb_font-size: 60px;
  --mixin-aQaNeLJMnwGb_line-height: 1.1;
  --mixin-aQaNeLJMnwGb_letter-spacing: 0px;
  --mixin-aQaNeLJMnwGb_font-family: "Playfair Display", serif;
  --mixin-aQaNeLJMnwGb_white-space: pre-wrap;
  --mixin-NJRVjdzXf7QO_color: var(--token-LubxRt_lSwPy);
  --mixin-NJRVjdzXf7QO_font-weight: 400;
  --mixin-NJRVjdzXf7QO_font-size: 36px;
  --mixin-NJRVjdzXf7QO_line-height: 1.1;
  --mixin-NJRVjdzXf7QO_letter-spacing: 0px;
  --mixin-NJRVjdzXf7QO_font-family: "Playfair Display", serif;
  --mixin-NJRVjdzXf7QO_white-space: pre-wrap;
  --mixin-Ztlo0fP2FTvd_color: #4d9dff;
  --mixin-Ztlo0fP2FTvd_font-family: "Montserrat", sans-serif;
  --mixin-Ztlo0fP2FTvd_font-size: 15px;
  --mixin-Ztlo0fP2FTvd_white-space: pre-wrap;
  --mixin-eDvcvK9bTbK-_font-family: "Inter", sans-serif;
  --mixin-eDvcvK9bTbK-_color: #000000;
  --mixin-eDvcvK9bTbK-_font-size: 32px;
  --mixin-eDvcvK9bTbK-_font-weight: 600;
  --mixin-eDvcvK9bTbK-_letter-spacing: -0.8px;
  --mixin-eDvcvK9bTbK-_line-height: 1.2;
  --mixin-eDvcvK9bTbK-_white-space: pre-wrap;
  --mixin-6Vao38Rsz6YR_font-family: "Inter", sans-serif;
  --mixin-6Vao38Rsz6YR_color: #000000;
  --mixin-6Vao38Rsz6YR_font-size: 24px;
  --mixin-6Vao38Rsz6YR_font-weight: 600;
  --mixin-6Vao38Rsz6YR_letter-spacing: -0.5px;
  --mixin-6Vao38Rsz6YR_line-height: 1.3;
  --mixin-6Vao38Rsz6YR_white-space: pre-wrap;
  --mixin-oF3rNIgcCV7H_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-oF3rNIgcCV7H_border-bottom-color: #dddddd;
  --mixin-oF3rNIgcCV7H_border-bottom-style: solid;
  --mixin-oF3rNIgcCV7H_border-bottom-width: 1px;
  --mixin-oF3rNIgcCV7H_border-left-color: #dddddd;
  --mixin-oF3rNIgcCV7H_border-left-style: solid;
  --mixin-oF3rNIgcCV7H_border-left-width: 1px;
  --mixin-oF3rNIgcCV7H_border-right-color: #dddddd;
  --mixin-oF3rNIgcCV7H_border-right-style: solid;
  --mixin-oF3rNIgcCV7H_border-right-width: 1px;
  --mixin-oF3rNIgcCV7H_border-top-color: #dddddd;
  --mixin-oF3rNIgcCV7H_border-top-style: solid;
  --mixin-oF3rNIgcCV7H_border-top-width: 1px;
  --mixin-oF3rNIgcCV7H_border-bottom-left-radius: 3px;
  --mixin-oF3rNIgcCV7H_border-bottom-right-radius: 3px;
  --mixin-oF3rNIgcCV7H_border-top-left-radius: 3px;
  --mixin-oF3rNIgcCV7H_border-top-right-radius: 3px;
  --mixin-oF3rNIgcCV7H_font-family: "Inconsolata";
  --mixin-oF3rNIgcCV7H_padding-bottom: 1px;
  --mixin-oF3rNIgcCV7H_padding-left: 4px;
  --mixin-oF3rNIgcCV7H_padding-right: 4px;
  --mixin-oF3rNIgcCV7H_padding-top: 1px;
  --mixin-oF3rNIgcCV7H_white-space: pre-wrap;
  --mixin-AQIROz6E3kCJ_color: var(--token-LubxRt_lSwPy);
  --mixin-AQIROz6E3kCJ_font-family: "Montserrat", sans-serif;
  --mixin-AQIROz6E3kCJ_font-size: 12px;
  --mixin-AQIROz6E3kCJ_white-space: pre-wrap;
  --mixin--a63kZrnwRTg_font-family: "Inter", sans-serif;
  --mixin--a63kZrnwRTg_color: #000000;
  --mixin--a63kZrnwRTg_font-size: 20px;
  --mixin--a63kZrnwRTg_font-weight: 600;
  --mixin--a63kZrnwRTg_letter-spacing: -0.3px;
  --mixin--a63kZrnwRTg_line-height: 1.5;
  --mixin--a63kZrnwRTg_white-space: pre-wrap;
  --mixin-9FJ7h3Jmjpkd_font-family: "Inter", sans-serif;
  --mixin-9FJ7h3Jmjpkd_color: #000000;
  --mixin-9FJ7h3Jmjpkd_font-size: 16px;
  --mixin-9FJ7h3Jmjpkd_font-weight: 600;
  --mixin-9FJ7h3Jmjpkd_line-height: 1.5;
  --mixin-9FJ7h3Jmjpkd_white-space: pre-wrap;
  --mixin-RPe-EsY8M-1r_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RPe-EsY8M-1r_border-bottom-color: #dddddd;
  --mixin-RPe-EsY8M-1r_border-bottom-style: solid;
  --mixin-RPe-EsY8M-1r_border-bottom-width: 1px;
  --mixin-RPe-EsY8M-1r_border-left-color: #dddddd;
  --mixin-RPe-EsY8M-1r_border-left-style: solid;
  --mixin-RPe-EsY8M-1r_border-left-width: 1px;
  --mixin-RPe-EsY8M-1r_border-right-color: #dddddd;
  --mixin-RPe-EsY8M-1r_border-right-style: solid;
  --mixin-RPe-EsY8M-1r_border-right-width: 1px;
  --mixin-RPe-EsY8M-1r_border-top-color: #dddddd;
  --mixin-RPe-EsY8M-1r_border-top-style: solid;
  --mixin-RPe-EsY8M-1r_border-top-width: 1px;
  --mixin-RPe-EsY8M-1r_border-bottom-left-radius: 3px;
  --mixin-RPe-EsY8M-1r_border-bottom-right-radius: 3px;
  --mixin-RPe-EsY8M-1r_border-top-left-radius: 3px;
  --mixin-RPe-EsY8M-1r_border-top-right-radius: 3px;
  --mixin-RPe-EsY8M-1r_font-family: "Inconsolata";
  --mixin-RPe-EsY8M-1r_padding-bottom: 3px;
  --mixin-RPe-EsY8M-1r_padding-left: 6px;
  --mixin-RPe-EsY8M-1r_padding-right: 6px;
  --mixin-RPe-EsY8M-1r_padding-top: 3px;
  --mixin-RPe-EsY8M-1r_white-space: pre-wrap;
  --mixin-2tO7ABSzXRsD_display: flex;
  --mixin-2tO7ABSzXRsD_flex-direction: column;
  --mixin-2tO7ABSzXRsD_align-items: stretch;
  --mixin-2tO7ABSzXRsD_justify-content: flex-start;
  --mixin-2tO7ABSzXRsD_list-style-position: outside;
  --mixin-2tO7ABSzXRsD_padding-left: 40px;
  --mixin-2tO7ABSzXRsD_position: relative;
  --mixin-2tO7ABSzXRsD_list-style-type: decimal;
  --mixin-2tO7ABSzXRsD_white-space: pre-wrap;
  --mixin-HohJl_UGXRnz_display: flex;
  --mixin-HohJl_UGXRnz_flex-direction: column;
  --mixin-HohJl_UGXRnz_align-items: stretch;
  --mixin-HohJl_UGXRnz_justify-content: flex-start;
  --mixin-HohJl_UGXRnz_list-style-position: outside;
  --mixin-HohJl_UGXRnz_padding-left: 40px;
  --mixin-HohJl_UGXRnz_position: relative;
  --mixin-HohJl_UGXRnz_list-style-type: disc;
  --mixin-HohJl_UGXRnz_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-82NRLBogQXQY_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(--mixin-82NRLBogQXQY_white-space);
  --mixin-I38sckHC2XE2_white-space: pre-wrap;
  --plasmic-mixin-card-border_white-space: var(
    --mixin-I38sckHC2XE2_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ae8PDQy6SAv5_font-family);
  font-size: var(--mixin-ae8PDQy6SAv5_font-size);
  font-weight: var(--mixin-ae8PDQy6SAv5_font-weight);
  font-style: var(--mixin-ae8PDQy6SAv5_font-style);
  color: var(--mixin-ae8PDQy6SAv5_color);
  text-align: var(--mixin-ae8PDQy6SAv5_text-align);
  text-transform: var(--mixin-ae8PDQy6SAv5_text-transform);
  line-height: var(--mixin-ae8PDQy6SAv5_line-height);
  letter-spacing: var(--mixin-ae8PDQy6SAv5_letter-spacing);
  white-space: var(--mixin-ae8PDQy6SAv5_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-aQaNeLJMnwGb_color);
  font-weight: var(--mixin-aQaNeLJMnwGb_font-weight);
  font-size: var(--mixin-aQaNeLJMnwGb_font-size);
  line-height: var(--mixin-aQaNeLJMnwGb_line-height);
  letter-spacing: var(--mixin-aQaNeLJMnwGb_letter-spacing);
  font-family: var(--mixin-aQaNeLJMnwGb_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-NJRVjdzXf7QO_color);
  font-weight: var(--mixin-NJRVjdzXf7QO_font-weight);
  font-size: var(--mixin-NJRVjdzXf7QO_font-size);
  line-height: var(--mixin-NJRVjdzXf7QO_line-height);
  letter-spacing: var(--mixin-NJRVjdzXf7QO_letter-spacing);
  font-family: var(--mixin-NJRVjdzXf7QO_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Ztlo0fP2FTvd_color);
  font-family: var(--mixin-Ztlo0fP2FTvd_font-family);
  font-size: var(--mixin-Ztlo0fP2FTvd_font-size);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-eDvcvK9bTbK-_font-family);
  color: var(--mixin-eDvcvK9bTbK-_color);
  font-size: var(--mixin-eDvcvK9bTbK-_font-size);
  font-weight: var(--mixin-eDvcvK9bTbK-_font-weight);
  letter-spacing: var(--mixin-eDvcvK9bTbK-_letter-spacing);
  line-height: var(--mixin-eDvcvK9bTbK-_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-6Vao38Rsz6YR_font-family);
  color: var(--mixin-6Vao38Rsz6YR_color);
  font-size: var(--mixin-6Vao38Rsz6YR_font-size);
  font-weight: var(--mixin-6Vao38Rsz6YR_font-weight);
  letter-spacing: var(--mixin-6Vao38Rsz6YR_letter-spacing);
  line-height: var(--mixin-6Vao38Rsz6YR_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-oF3rNIgcCV7H_font-family);
  border-radius: var(--mixin-oF3rNIgcCV7H_border-top-left-radius)
    var(--mixin-oF3rNIgcCV7H_border-top-right-radius)
    var(--mixin-oF3rNIgcCV7H_border-bottom-right-radius)
    var(--mixin-oF3rNIgcCV7H_border-bottom-left-radius);
  padding: var(--mixin-oF3rNIgcCV7H_padding-top)
    var(--mixin-oF3rNIgcCV7H_padding-right)
    var(--mixin-oF3rNIgcCV7H_padding-bottom)
    var(--mixin-oF3rNIgcCV7H_padding-left);
  border-top: var(--mixin-oF3rNIgcCV7H_border-top-width)
    var(--mixin-oF3rNIgcCV7H_border-top-style)
    var(--mixin-oF3rNIgcCV7H_border-top-color);
  border-right: var(--mixin-oF3rNIgcCV7H_border-right-width)
    var(--mixin-oF3rNIgcCV7H_border-right-style)
    var(--mixin-oF3rNIgcCV7H_border-right-color);
  border-bottom: var(--mixin-oF3rNIgcCV7H_border-bottom-width)
    var(--mixin-oF3rNIgcCV7H_border-bottom-style)
    var(--mixin-oF3rNIgcCV7H_border-bottom-color);
  border-left: var(--mixin-oF3rNIgcCV7H_border-left-width)
    var(--mixin-oF3rNIgcCV7H_border-left-style)
    var(--mixin-oF3rNIgcCV7H_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-AQIROz6E3kCJ_color);
  font-family: var(--mixin-AQIROz6E3kCJ_font-family);
  font-size: var(--mixin-AQIROz6E3kCJ_font-size);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin--a63kZrnwRTg_font-family);
  color: var(--mixin--a63kZrnwRTg_color);
  font-size: var(--mixin--a63kZrnwRTg_font-size);
  font-weight: var(--mixin--a63kZrnwRTg_font-weight);
  letter-spacing: var(--mixin--a63kZrnwRTg_letter-spacing);
  line-height: var(--mixin--a63kZrnwRTg_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-9FJ7h3Jmjpkd_font-family);
  color: var(--mixin-9FJ7h3Jmjpkd_color);
  font-size: var(--mixin-9FJ7h3Jmjpkd_font-size);
  font-weight: var(--mixin-9FJ7h3Jmjpkd_font-weight);
  line-height: var(--mixin-9FJ7h3Jmjpkd_line-height);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-RPe-EsY8M-1r_font-family);
  border-radius: var(--mixin-RPe-EsY8M-1r_border-top-left-radius)
    var(--mixin-RPe-EsY8M-1r_border-top-right-radius)
    var(--mixin-RPe-EsY8M-1r_border-bottom-right-radius)
    var(--mixin-RPe-EsY8M-1r_border-bottom-left-radius);
  padding: var(--mixin-RPe-EsY8M-1r_padding-top)
    var(--mixin-RPe-EsY8M-1r_padding-right)
    var(--mixin-RPe-EsY8M-1r_padding-bottom)
    var(--mixin-RPe-EsY8M-1r_padding-left);
  border-top: var(--mixin-RPe-EsY8M-1r_border-top-width)
    var(--mixin-RPe-EsY8M-1r_border-top-style)
    var(--mixin-RPe-EsY8M-1r_border-top-color);
  border-right: var(--mixin-RPe-EsY8M-1r_border-right-width)
    var(--mixin-RPe-EsY8M-1r_border-right-style)
    var(--mixin-RPe-EsY8M-1r_border-right-color);
  border-bottom: var(--mixin-RPe-EsY8M-1r_border-bottom-width)
    var(--mixin-RPe-EsY8M-1r_border-bottom-style)
    var(--mixin-RPe-EsY8M-1r_border-bottom-color);
  border-left: var(--mixin-RPe-EsY8M-1r_border-left-width)
    var(--mixin-RPe-EsY8M-1r_border-left-style)
    var(--mixin-RPe-EsY8M-1r_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-2tO7ABSzXRsD_display);
  flex-direction: var(--mixin-2tO7ABSzXRsD_flex-direction);
  align-items: var(--mixin-2tO7ABSzXRsD_align-items);
  justify-content: var(--mixin-2tO7ABSzXRsD_justify-content);
  list-style-position: var(--mixin-2tO7ABSzXRsD_list-style-position);
  padding-left: var(--mixin-2tO7ABSzXRsD_padding-left);
  position: var(--mixin-2tO7ABSzXRsD_position);
  list-style-type: var(--mixin-2tO7ABSzXRsD_list-style-type);
  flex-column-gap: var(--mixin-2tO7ABSzXRsD_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-HohJl_UGXRnz_display);
  flex-direction: var(--mixin-HohJl_UGXRnz_flex-direction);
  align-items: var(--mixin-HohJl_UGXRnz_align-items);
  justify-content: var(--mixin-HohJl_UGXRnz_justify-content);
  list-style-position: var(--mixin-HohJl_UGXRnz_list-style-position);
  padding-left: var(--mixin-HohJl_UGXRnz_padding-left);
  position: var(--mixin-HohJl_UGXRnz_position);
  list-style-type: var(--mixin-HohJl_UGXRnz_list-style-type);
  flex-column-gap: var(--mixin-HohJl_UGXRnz_flex-column-gap);
}
