.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  backdrop-filter: brightness(67%) blur(8px);
  filter: none;
  background: none;
  box-shadow: 0px 4px 16px 10px #00000080;
  position: relative;
  min-width: 0;
  -webkit-backdrop-filter: brightness(67%) blur(8px);
  padding: 0px 16px 16px;
}
.menu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.menu > :global(.__wab_flex-container) > *,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menu > :global(.__wab_flex-container) > picture > img,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu {
    width: 100%;
    min-width: 0;
    padding: 4px 32px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.menuBar {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1130px;
  background: none;
  min-width: 0;
  padding: 25px 0px 0px;
}
.menuBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.menuBar > :global(.__wab_flex-container) > *,
.menuBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuBar > :global(.__wab_flex-container) > picture > img,
.menuBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar > :global(.__wab_flex-container) > *,
  .menuBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menuBar > :global(.__wab_flex-container) > picture > img,
  .menuBar
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img {
  object-fit: cover;
  width: auto;
  position: relative;
  filter: none;
  margin-right: 0px;
  max-width: 1146px;
  height: 50px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__iMaex {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding: 8px;
}
.freeBox__nfJt7 {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-right: 0px;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.freeBox__nfJt7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nfJt7 > :global(.__wab_flex-container) > *,
.freeBox__nfJt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nfJt7 > :global(.__wab_flex-container) > picture > img,
.freeBox__nfJt7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nfJt7 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nfJt7 > :global(.__wab_flex-container) > *,
  .freeBox__nfJt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nfJt7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__nfJt7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__ehDc {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__ehDc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ehDc > :global(.__wab_flex-container) > *,
.link__ehDc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ehDc > :global(.__wab_flex-container) > picture > img,
.link__ehDc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ehDc {
    padding: 0px;
  }
}
.svg___2S5El {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__eaUb7 {
  color: var(--token-E78glSjQcy_l);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
  align-self: flex-start;
  filter: blur(0px);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eaUb7 {
    color: var(--token-LyfD59kQy9XP);
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 13px;
  }
}
.svg__hqFqf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__xDk0K {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__xDk0K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__xDk0K > :global(.__wab_flex-container) > *,
.link__xDk0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__xDk0K > :global(.__wab_flex-container) > picture > img,
.link__xDk0K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xDk0K {
    padding: 0px;
  }
}
.svg__z2Q7V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__kEIW {
  color: var(--token-LyfD59kQy9XP);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kEIW {
    font-size: 13px;
  }
}
.svg__ym4Rj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__gvXky {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__gvXky > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gvXky > :global(.__wab_flex-container) > *,
.link__gvXky > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gvXky > :global(.__wab_flex-container) > picture > img,
.link__gvXky
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gvXky {
    padding: 0px;
  }
}
.svg___3G1JU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__wki1X {
  color: var(--token-LyfD59kQy9XP);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
  padding-right: 0px;
  width: 213px;
  padding-top: 0px;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wki1X {
    font-size: 13px;
  }
}
.svg__m9Uyp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__gMe3Y {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__gMe3Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gMe3Y > :global(.__wab_flex-container) > *,
.link__gMe3Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gMe3Y > :global(.__wab_flex-container) > picture > img,
.link__gMe3Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gMe3Y {
    padding: 0px;
  }
}
.svg__ap8Dm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__so4Dv {
  color: var(--token-LyfD59kQy9XP);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
  width: 182px;
  padding-right: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__so4Dv {
    color: var(--token-LyfD59kQy9XP);
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 13px;
  }
}
.svg__cs3RG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__yOZem {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__yOZem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yOZem > :global(.__wab_flex-container) > *,
.link__yOZem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yOZem > :global(.__wab_flex-container) > picture > img,
.link__yOZem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yOZem {
    padding: 0px;
  }
}
.svg__mbFy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__jaaYb {
  color: var(--token-LyfD59kQy9XP);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jaaYb {
    font-size: 13px;
  }
}
.svg__uRsgv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__efycU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 128px;
  margin-left: calc(0px + 8px) !important;
  flex-shrink: 0;
}
.svg__nvKqw {
  position: relative;
  height: 1em;
}
.text__umLns {
  white-space: pre;
}
.svg___19Pl {
  position: relative;
  height: 1em;
}
.link__vHwOk {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  flex-direction: row;
  cursor: pointer;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__vHwOk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__vHwOk > :global(.__wab_flex-container) > *,
.link__vHwOk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__vHwOk > :global(.__wab_flex-container) > picture > img,
.link__vHwOk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vHwOk {
    padding: 0px;
  }
}
.svg__qhUv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__dhClr {
  color: var(--token-LyfD59kQy9XP);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dhClr {
    font-size: 13px;
  }
}
.svg__srQq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
