/* Note: this CSS is only an example, you can overlay whatever you want using the activeItem logic */

#infinite-grid-menu-canvas {
    cursor: grab;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    outline: none;
    /* border: 5px solid white;
    border-radius: 5px; */
  }
  
  #infinite-grid-menu-canvas:active {
    cursor: grabbing;
  }
  
  .actionButton {
    position: absolute;
    left: 50%;
    /* bottom: 85%; */
    z-index: 10;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    background: cyan;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid #000;
  }
  
  .faceTitle {
    user-select: none;
    position: absolute;
    font-weight: 900;
    color: white;
    font-size: 3rem;
    left: 28%;
    top: 48%;
  }
  
  .actionButtonIcon {
    user-select: none;
    position: relative;
    color: #060606;
    top: 2px;
    font-size: 26px;
  }
  
  .faceTitle {
    position: absolute;
    /* top: 50%; */
    transform: translate(20%, -50%);
  }
  
  .faceTitle.active {
    opacity: 1;
    transform: translate(20%, -50%);
    pointer-events: auto;
    transition: 0.5s ease;
  }
  
  .faceTitle.inactive {
    pointer-events: none;
    opacity: 0;
    transition: 0.1s ease;
  }
  
  .faceDescription {
    user-select: none;
    position: absolute;
    max-width: 10ch;
    top: 50%;
    color: white;
    font-size: 1.5rem;
    right: 20%;
    transform: translate(0, -50%);
  }
  
  .faceDescription.active {
    opacity: 1;
    transform: translate(-90%, -50%);
    pointer-events: auto;
    transition: 0.5s ease;
  }
  
  .faceDescription.inactive {
    pointer-events: none;
    transform: translate(-60%, -50%);
    opacity: 0;
    transition: 0.1s ease;
  }
  
  .actionButton {
    position: absolute;
    left: 50%;
  }
  
  .actionButton.active {
    bottom: 3.8em;
    transform: translateX(-50%) scale(1);
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s ease;
  }
  
  .actionButton.inactive {
    bottom: -80px;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    pointer-events: none;
    transition: 0.1s ease;
  }
  
  @media (max-width: 1500px) {
    .faceTitle, .faceDescription {
      display: none;
    }
  }